{% render 'adastra' with 'Minicart.jsx' %}

<div id="minicart"></div>

<script type="application/json" id="minicartConfig">
    {
        "heading": {{ section.settings.heading | json }},
        "emptyCartText": {{ section.settings.empty_cart_text | json }},
        "showProgressBar": {{ section.settings.show_progress_bar | json }},
        "shippingThreshold": {{ section.settings.threshold | json }},
        "showNote": {{ section.settings.show_note | json }}
    }
</script>

{% schema %}
    {
        "name": "Minicart",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading",
                "default": "Shopping cart"
            },
            {
                "id": "empty_cart_text",
                "type": "text",
                "label": "Empty cart text",
                "default": "Your cart is empty!"
            },
            {
                "id": "show_progress_bar",
                "type": "checkbox",
                "label": "Show progress bar",
                "default": true
            },
            {
                "id": "threshold",
                "type": "number",
                "label": "Free shipping threshold",
                "default": 60
            },
            {
                "id": "show_note",
                "type": "checkbox",
                "label": "Show note",
                "default": true
            }
        ]
    }
{% endschema %}